*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: black;
    font-size: 23px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-size: 11px;
}
.redirect{
    display: flex;
    justify-content: center;
    gap: 40px;
    font-family: 'Russo One', sans-serif;
}

.logo{
    height: 100px;
    width: 10;
    cursor: pointer;
}

.iconos{
    display: flex;
    align-items: center;
    gap: 25px;
}

.buscar{
    height: 25px;
    width: 10;
}

.carrito{
    height: 25px;
    width: 10;
}

.personal{
    height: 25px;
    width: 10;
}

.menu{
    height: 25px;
    width: 10;
}

.imagenes_logo{
    width: 100%;
    height: 400px;
}

.destacadas{
    margin: 65px;
    text-align: center;
}

.bicis_destacadas{
    display: flex;
    gap: 50px;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.bici_destacada{
    width: 100%;
    display: grid;
    place-items: center; /*
    .Centra horizontal y vertical con GRID*/
    border-radius: 10px;
    /* Fondo blanco para simular la tarjeta */
    background-color: #ffffff;
    /* Relleno para que el contenido no toque los bordes */
    padding: 15px;
    /* El sombreado en sí */
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.bici{
    justify-content: center;
    height: 400px;
    width: 400px;
}

.precio{
    font-size: arial;
    margin: 12px;
}

.add{
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.add:hover{
    background-color: white;
    color: black;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.accesorios{
    text-align: center;
    margin: 65px;
}

.accesories{
    display: flex;
    justify-content: center;
    gap: 50px;


    margin-top: 60px;
    margin-bottom: 30px;
    width: 100%;
    align-items: center;
}

.componentes{
    text-align: center;
    margin: 65px;
}

.partes{
    display: flex;
    justify-content: center;
    gap: 50px;
}